{% extends "layout.html" %}
  
        {% block content %}
        <div class="panel-heading">
            <h3 class="panel-title">Hotels</h3>
        </div>
        <div class = "panel-body">
       <select name="hotels">
           {% for hotel in templateHotels %}
           <option value="{{hotel.name}}">{{hotel.name}}</option>
           {% endfor %}
       </select>
       <span class="glyphicon glyphicon-plus-sign"></span>
       </div>

       <div class="panel-heading">
            <h3 class="panel-title">Restaurants</h3>
        </div>
        <div class = "panel-body">
       <select name="restaurant">
           {% for restaurant in templateRestaurants %}
           <option value="{{restaurant.name}}">{{restaurant.name}}</option>
           {% endfor %}
       </select>
       <span class="glyphicon glyphicon-plus-sign"></span>
        </div>

        <div class="panel-heading">
            <h3 class="panel-title">Activities</h3>
        </div>
        <div class = "panel-body">
       <select name="activity" id="">
            {% for activity in templateActivities %}
           <option value="{{activity.name}}">{{activity.name}}</option>
           {% endfor %}   
        </select> 
        <span class="glyphicon glyphicon-plus-sign"></span>
        </div>
       {% endblock %}
  