<!DOCTYPE html>
<html lang ="en">
    <head>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href ="public/stylesheets/main.css" rel= "stylesheet">
    </head>
    <body>
    <nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
            <span class="glyphicon glyphicon-plane"></span>
            Trip Planner</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>
            <div class = "container-fluid content">
              <div class = "row">  
                <div class= "col-lg-8" id = "map"></div>
                <div class ="options_panel panel panel-primary col-lg-3">
                    <div class ="selects">
                        {% block content %}{% endblock %}
                    </div>
                </div>
                <div class="itinerary">
                    <div class = "day_buttons"></div>
                    <div class="iternary_items"></div>
                </div>
              </div>
            
            
        </div>
    
      <script src ="jquery/jquery.min.js"></script>
      <script src ="bootstrap/js/bootstrap.min.js"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeWMocl7X-Z5HFedU9PNTsQ_zGHE4gqrg"></script>
      <script src ="public/scripts/maps.js"></script>
      
    </body>
</html>